include:
  - project: cloud/integrations/ci
    file:
      - default.yml

stages:
  - test

test:acceptance:
  stage: test
  image: golang:1.20
  except:
    - tags
  script:
    - make testacc

test:golangci-lint:
  stage: test
  image: golangci/golangci-lint:latest
  script:
    - golangci-lint run -v
  except:
    - tags
    - master
