include:
  - project: cloud/integrations/ci
    file:
      - default.yml
      - workflows/feature-branches.yml

stages:
  - build
  - test

variables:
  GOMODCACHE: $CI_PROJECT_DIR/.cache/go-mod
  GOCACHE: $CI_PROJECT_DIR/.cache/go-build

cache:
  key:
    files:
      - go.mod
      - go.sum
  paths:
    - $GOMODCACHE

build:
  stage: build
  image: golang:1.25
  script:
    - go env
    - go mod download

test:lint:
  stage: test
  image: golangci/golangci-lint:v2.5.0
  script:
    - golangci-lint run -v

test:unit:
  stage: test
  image: golang:1.25
  script:
    - make test
