{{- /* vim: set ft=terraform: */ -}}

data "hcloud_images" "{{ .RName }}" {
  {{ if .LabelSelector -}}    with_selector = "{{ .LabelSelector }}"{{ end }}
  {{ if .Architecture -}}    with_architecture = ["{{ .Architecture }}"]{{ end }}
}
