{{- /* vim: set ft=terraform: */ -}}

data "hcloud_image" "{{ .RName }}" {
  {{ if .ImageID -}}   id            = "{{ .ImageID }}"{{ end -}}
  {{ if .ImageName -}} name          = "{{ .ImageName }}"{{ end -}}
  {{ if .LabelSelector -}}    with_selector = "{{ .LabelSelector }}"{{ end }}
}
