{{- /* vim: set ft=terraform: */ -}}

data "hcloud_images" "{{ .RName }}" {
  {{ if .LabelSelector -}}      with_selector = "{{ .LabelSelector }}"{{ end }}
  {{ if .Architecture -}}       with_architecture = ["{{ .Architecture }}"]{{ end }}
  {{ if .Status -}}             with_status = ["{{ .Status }}"]{{ end }}
  {{ if .IncludeDeprecated -}}  include_deprecated = {{ .IncludeDeprecated }}{{ end }}
}
