{{- /* vim: set ft=terraform: */ -}}

data "hcloud_image" "{{ .RName }}" {
  {{ if .ID -}}                 id = "{{ .ID }}"{{ end -}}
  {{ if .Name -}}               name = "{{ .Name }}"{{ end -}}
  {{ if .WithSelector -}}       with_selector = "{{ .WithSelector }}"{{ end }}
  {{ if .WithArchitecture -}}   with_architecture = "{{ .WithArchitecture }}"{{ end }}
  {{ if .IncludeDeprecated -}}  include_deprecated = {{ .IncludeDeprecated }}{{ end }}
  {{ if ne .MostRecent nil -}}  most_recent = {{ .MostRecent }}{{ end }}

{{- if .Raw }}
{{ .Raw | indent 2 }}
{{- end }}
}
