{{- /* vim: set ft=terraform: */ -}}

data "hcloud_storage_box" "{{ .RName }}" {
    {{ if .ID -}}     id = {{ .ID }}{{ end -}}
    {{ if .Name -}}   name  = {{ .Name }}{{ end -}}
    {{ if .LabelSelector -}}  with_selector = "{{ .LabelSelector }}"{{ end }}
}
