{{- /* vim: set ft=terraform: */ -}}

data "hcloud_isos" "{{ .RName }}" {
  {{ if .IsoNamePrefix -}}    name_prefix = "{{ .IsoNamePrefix }}"{{ end }}
  {{ if .IsoType -}}    type = "{{ .IsoType }}"{{ end -}}
  {{ if .Architecture -}}    with_architecture = ["{{ .Architecture }}"]{{ end }}
  {{ if .IncludeArchitectureWildcard -}}    include_architecture_wildcard = {{ .IncludeArchitectureWildcard }}{{ end }}
}
