---
page_title: "Hetzner Cloud: hcloud_volume_attachment"
description: |-
  Provides a Hetzner Cloud Volume attachment to attach a Volume to a Hetzner Cloud Server.
---

# hcloud_volume_attachment

Provides a Hetzner Cloud Volume attachment to attach a Volume to a Hetzner Cloud Server. Deleting a Volume Attachment will detach the Volume from the Server.

## Example Usage

{{ tffile .ExampleFile }}

## Argument Reference

- `volume_id` - (Required, int) ID of the Volume.
- `server_id` - (Required, int) Server to attach the Volume to.
- `automount` - (Optional, bool) Automount the volume upon attaching it.

## Attributes Reference

- `id` - (int) Unique ID of the Volume Attachment.
- `volume_id` - (int) ID of the Volume.
- `server_id` - (int) Server the Volume was attached to.

## Import

Volume Attachments can be imported using the `volume_id`:

```shell
terraform import hcloud_volume_attachment.example "$VOLUME_ID"
```
