---
page_title: "Hetzner Cloud: hcloud_locations"
description: |-
  List all available Hetzner Cloud Locations.
---

# Data Source: hcloud_locations

Provides a list of available Hetzner Cloud Locations.
This resource may be useful to create highly available infrastructure, distributed across several locations.

## Example Usage

{{ tffile .ExampleFile }}

## Attributes Reference

- `location_ids` - (list) List of unique location identifiers. **Deprecated**: Use `locations` attribute instead.
- `names` - (list) List of location names. **Deprecated**: Use `locations` attribute instead.
- `descriptions` - (list) List of all location descriptions. **Deprecated**: Use `locations` attribute instead.
- `locations` - (list) List of all locations. See `data.hcloud_location` for schema.
