---
page_title: "Hetzner Cloud: hcloud_networks"
description: |-
  Provides details about multiple Hetzner Cloud Networks.
---

# hcloud_networks

Provides details about multiple Hetzner Cloud Networks.

## Example Usage

{{ tffile .ExampleFile }}

## Argument Reference

- `with_selector` - (Optional, string) [Label selector](https://docs.hetzner.cloud/reference/cloud#label-selector)

## Attributes Reference

- `networks` - (list) List of all matching networks. See `data.hcloud_network` for schema.
