---
page_title: "Hetzner Cloud: hcloud_primary_ip"
description: |-
  Provides details about a specific Hetzner Cloud Primary IP.
---

# Data Source: hcloud_primary_ip

Provides details about a Hetzner Cloud Primary IP.

This resource can be useful when you need to determine a Primary IP ID based on the IP address.

Side note:

If a server is getting created, it has to have a primary ip. If a server is getting created without defining primary ips, two of them (one ipv4 and one ipv6) getting created & attached.
Currently, Primary IPs can be only attached to servers.

## Deprecations

### `datacenter` attribute

The `datacenter` attribute is deprecated, use the `location` attribute instead.

See our the [API changelog](https://docs.hetzner.cloud/changelog#2025-12-16-phasing-out-datacenters) for more details.

-> Please upgrade to `v1.58.0+` of the provider to avoid issues once the Hetzner Cloud API no longer returns the `datacenter` attribute.

## Example Usage

# Data Source: hcloud_primary_ip

Provides details about a Hetzner Cloud Primary IP.
This resource can be useful when you need to determine a Primary IP ID based on the IP address.

## Example Usage

{{ tffile .ExampleFile }}

## Argument Reference

- `id` - (Optional, string) ID of the Primary IP.
- `name` - (Optional, string) Name of the Primary IP.
- `ip_address` - (Optional, string) IP address of the Primary IP.
- `with_selector` - (Optional, string) [Label selector](https://docs.hetzner.cloud/reference/cloud#label-selector)

## Attributes Reference

- `id` - (int) Unique ID of the Primary IP.
- `type` - (string) Type of the Primary IP.
- `name` - (string) Name of the Primary IP.
- `location` - (string) The location of the Primary IP. See the [Hetzner Docs](https://docs.hetzner.com/cloud/general/locations/#what-locations-are-there) for more details about locations.
- `datacenter` - (string, deprecated) The datacenter name of the Primary IP. See the [Hetzner Docs](https://docs.hetzner.com/cloud/general/locations/#what-datacenters-are-there) for more details about datacenters.
- `auto_delete` - (bool) Whether auto delete is enabled.
- `labels` - (map) User-defined labels (key-value pairs).
- `ip_address` - (string) IP Address of the Primary IP.
- `ip_network` - (string) IPv6 subnet of the Primary IP for IPv6 addresses. (Only set if `type` is `ipv6`)
- `assignee_id` - (int) ID of the assigned resource.
- `assignee_type` - (string) The type of the assigned resource.
- `delete_protection` - (bool) Whether delete protection is enabled.
