---
page_title: "Hetzner Cloud: hcloud_ssh_key"
description: |-
  Provides details about a specific Hetzner Cloud SSH Key.
---

# Data Source: hcloud_ssh_key

Provides details about a Hetzner Cloud SSH Key.
This resource is useful if you want to use a non-terraform managed SSH Key.

## Example Usage

{{ tffile .ExampleFile }}

## Argument Reference

- `id` - (Optional, string) ID of the SSH Key.
- `name` - (Optional, string) Name of the SSH Key.
- `fingerprint` - (Optional, string) Fingerprint of the SSH Key.
- `with_selector` - (Optional, string) [Label selector](https://docs.hetzner.cloud/#overview-label-selector)

## Attributes Reference

- `id` - (int) Unique ID of the SSH Key.
- `name` - (string) Name of the SSH Key.
- `fingerprint` - (string) Fingerprint of the SSH Key.
- `public_key` - (string) Public Key of the SSH Key.
