---
page_title: "Hetzner Cloud: hcloud_volume"
description: |-
  Provides details about multiple Hetzner Cloud Volumes.
---

# hcloud_volumes

Provides details about multiple Hetzner Cloud Volumes.

## Example Usage

{{ tffile .ExampleFile }}

## Argument Reference

- `with_selector` - (Optional, string) [Label selector](https://docs.hetzner.cloud/reference/cloud#label-selector)
- `with_status` - (Optional, list) List only volumes with the specified status, could contain `creating` or `available`.

## Attributes Reference

- `volumes` - (list) List of all matching volumes. See `data.hcloud_volume` for schema.
