{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_network_route" "{{ .RName }}" {
  {{/* Required properties */ -}}
  network_id   = {{ .NetworkID }}
  destination = "{{ .Destination }}"
  gateway     = "{{ .Gateway }}"
}
