{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_placement_group" "{{ .RName }}" {
    name        = "{{ .Name }}--{{ .RInt }}"
    type        = "{{ .Type }}"
  {{- if .Labels }}
    labels = {
    {{- range $k,$v := .Labels }}
      {{ $k }} = "{{ $v }}"
    {{- end }}
    }
  {{- end }}
}