{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_managed_certificate" "{{ .RName }}" {
  name        = "{{ .Name }}--{{ .RInt }}"
  domain_names = [{{ .DomainNames | quoteEach | join ", " }}]
  {{- if .Labels }}
    labels = {
    {{- range $k,$v := .Labels }}
      {{ $k }} = "{{ $v }}"
    {{- end }}
  }
  {{- end }}
}
