{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_server" "{{ .RName }}" {
  {{/* Required properties */ -}}
  name        = "{{ .Name }}--{{ .RInt }}"
  server_type = "{{ .Type }}"
  image       = "{{ .Image }}"

  {{- /* Optional properties */}}
  {{- if .LocationName }}
  location    = "{{ .LocationName }}"
  {{ end }}
  {{- if .Datacenter }}
  datacenter  = "{{ .Datacenter }}"
  {{ end }}
  {{- if .SSHKeys }}
  ssh_keys    = [{{ StringsJoin .SSHKeys ", " }}]
  {{ end }}
  {{- if .KeepDisk }}
  keep_disk   = {{ .KeepDisk }}
  {{ end }}
  {{- if .AllowDeprecatedImages }}
  allow_deprecated_images   = {{ .AllowDeprecatedImages }}
  {{ end }}
  {{- if .ISO }}
  iso         = {{ .ISO }}
  {{ end }}
  {{- if .Rescue }}
  rescue      = {{ .Rescue }}
  {{ end }}
  {{- if .Backups }}
  backups     = {{ .Backups }}
  {{ end }}

  {{- range $network := .Networks }}{{ with $network }}
  {{- if .NetworkID }}
  network {
      network_id = {{ .NetworkID }}
      {{- if .IP }}
      ip         = "{{ .IP }}"
      {{ end }}
      {{- if .AliasIPs }}
      alias_ips = {{ with DQuoteS .AliasIPs }}[{{ StringsJoin . ", " }}]{{ end }}
      {{- end }}
  }
  {{ end }}{{ end }}
  {{ end }}

  {{- if .PublicNet }}
  public_net {
  {{- range $k,$v := .PublicNet }}
    {{ $k }} = {{ $v }}
  {{- end }}
  }
  {{ end }}

  {{- if .Labels }}
  labels = {
  {{- range $k,$v := .Labels }}
    {{ $k }} = "{{ $v }}"
  {{- end }}
  }
  {{ end }}

  {{- if .UserData }}
  user_data   = "{{ .UserData }}"
  {{ end }}

  {{ if .FirewallIDs }}
  firewall_ids = [
  {{- range $k,$v := .FirewallIDs }}
     {{ $v }},
  {{- end }}
  ]
  {{ end }}

  {{- if .DependsOn }}
  depends_on               = [{{ StringsJoin .DependsOn ", " }}]
  {{ end }}

  {{- if .PlacementGroupID }}
  placement_group_id = {{ .PlacementGroupID }}
  {{ end }}

  {{- if .DeleteProtection }}
  delete_protection = {{ .DeleteProtection }}
  {{ end }}

  {{- if .RebuildProtection }}
  rebuild_protection = {{ .RebuildProtection }}
  {{ end }}
}
