{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_firewall_attachment" "{{ .RName }}" {
    firewall_id = {{ .FirewallIDRef }}
    {{- if .ServerIDRefs }}
    server_ids = [{{ StringsJoin .ServerIDRefs ", " }}]
    {{- end }}
    {{- if .LabelSelectors }}
    label_selectors = [{{ with DQuoteS .LabelSelectors }}{{ StringsJoin . ", " }}{{ end }}]
    {{- end }}
}
