{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_server_network" "{{ .Name }}" {
  {{/* Required properties */ -}}
  server_id  = {{ .ServerID }}
  {{- if .NetworkID }}
  network_id               = {{ .NetworkID }}
  {{ end }}
  {{- if .SubNetID }}
  subnet_id                = {{ .SubNetID }}
  {{ end }}

  {{- /* Optional properties */}}
  {{- if .IP }}
  ip         = "{{ .IP }}"
  {{ end }}
  {{- if .AliasIPs }}
  alias_ips  = [{{ StringsJoin .AliasIPs ", " }}]
  {{ end }}
  {{- if .DependsOn }}
  depends_on               = [{{ StringsJoin .DependsOn ", " }}]
  {{ end }}
}
