{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_primary_ip" "{{ .RName }}" {
  {{/* Required properties */ -}}
  name        = "{{ .Name }}--{{ .RInt }}"
  type = "{{ .Type }}"
  {{- if .Location }}
  location       = "{{ .Location }}"
  {{ end }}
  {{- if .Datacenter }}
  datacenter       = "{{ .Datacenter }}"
  {{ end }}
  {{- if .AssigneeType }}
  assignee_type       = "{{ .AssigneeType }}"
  {{ end }}
  {{- if .AssigneeID }}
  assignee_id       = {{ .AssigneeID }}
  {{ end }}

  {{- if .Labels }}
  labels = {{ .Labels | toPrettyJson }}
  {{- end }}

  auto_delete       = {{ .AutoDelete }}
  {{- if .DeleteProtection }}
  delete_protection = {{ .DeleteProtection }}
  {{ end }}
}
