{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_managed_certificate" "{{ .RName }}" {
  name        = "{{ .Name }}--{{ .RInt }}"
  domain_names = {{ with DQuoteS .DomainNames }}[{{ StringsJoin . ","}}]{{ end }}
  {{- if .Labels }}
    labels = {
    {{- range $k,$v := .Labels }}
      {{ $k }} = "{{ $v }}"
    {{- end }}
  }
  {{- end }}
}
