{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_server" "{{ .RName }}" {
  {{/* Required properties */ -}}
  name        = "{{ .Name }}--{{ .RInt }}"
  server_type = "{{ .Type }}"
  image       = "{{ .Image }}"

  {{- /* Optional properties */}}
  {{- if .LocationName }}
  location    = "{{ .LocationName }}"
  {{ end }}
  {{- if .DataCenter }}
  datacenter  = "{{ .DataCenter }}"
  {{ end }}
  {{- if .SSHKeys }}
  ssh_keys    = [{{ StringsJoin .SSHKeys ", " }}]
  {{ end }}
  {{- if .KeepDisk }}
  keep_disk   = {{ .KeepDisk }}
  {{ end }}
  {{- if .ISO }}
  iso         = {{ .ISO }}
  {{ end }}
  {{- if .Rescue }}
  rescue      = {{ .Rescue }}
  {{ end }}
  {{- if .Backups }}
  backups     = {{ .Backups }}
  {{ end }}

  {{- if .Network.NetworkID }}{{ with .Network }}
  network {
      network_id = {{ .NetworkID }}
      {{- if .IP }}
      ip         = "{{ .IP }}"
      {{ end }}
      {{- if .AliasIPs }}
      alias_ips = {{ with DQuoteS .AliasIPs }}[{{ StringsJoin . ", " }}]{{ end }}
      {{- end }}
  }
  {{ end }}{{ end }}

  {{- if .Labels }}
  labels = {
  {{- range $k,$v := .Labels }}
    {{ $k }} = "{{ $v }}"
  {{- end }}
  }
  {{ end }}

  {{- if .UserData }}
  user_data   = "{{ .UserData }}"
  {{ end }}

  {{ if .FirewallIDs }}
  firewall_ids = [
  {{- range $k,$v := .FirewallIDs }}
     {{ $v }},
  {{- end }}
  ]
  {{ end }}

  {{- if .DependsOn }}
  depends_on               = [{{ StringsJoin .DependsOn ", " }}]
  {{ end }}
}
