{{- /* vim: set ft=terraform: */ -}}

resource "hcloud_placement_group" "{{ .RName }}" {
  name        = "{{ .Name }}--{{ .RInt }}"
  type        = "{{ .Type }}"
  {{- if .Labels }}
  labels = {{ .Labels | toPrettyJson }}
  {{- end }}
}
