name: Build

on:
  push:

env:
  GOTOOLCHAIN: local

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v7
        with:
          version: 2.x
          args: release --clean --snapshot
        env:
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v6
        with:
          name: darwin-amd64
          path: dist/*_darwin_amd64.zip

      - uses: actions/upload-artifact@v6
        with:
          name: darwin-arm64
          path: dist/*_darwin_arm64.zip

      - uses: actions/upload-artifact@v6
        with:
          name: linux-amd64
          path: dist/*_linux_amd64.zip

      - uses: actions/upload-artifact@v6
        with:
          name: windows-amd64
          path: dist/*_windows_amd64.zip
