name: Lint

on:
  push:
    branches: [main]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: pre-commit/action@v3.0.1

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - uses: golangci/golangci-lint-action@v6
        with:
          version: v2.5.0 # renovate: datasource=github-releases depName=golangci/golangci-lint

          # In general linting is quite fast with warm caches, but a fresh run might
          # take some time.
          args: --timeout 5m
