name: Lint

on:
  push:
    branches: [main]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - uses: pre-commit/action@v3.0.1

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2 # renovate: datasource=github-releases depName=golangci/golangci-lint
