name: test
on:
  push:
jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      -
        name: Run tests
        env:
          TTS_TOKEN: ${{ secrets.TTS_TOKEN }}
        run: |
          make test
